@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #171717;
  line-height: 1.6;
  overflow-x: hidden;
}

.main-layout {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app {
  min-height: 100vh;
}
